{% extends 'base.html' %}

{% block content %}

<h1>Check for AQI!</h1>
<br>
<div class="jumbotron {{ category_color }}">

{% if api %}
    {% if api == "Error has occured." %}
        Error occured :(
        Please try again.
    {% else %}
        <h1>{{api.0.Category.Name}}</h1>
        Area - {{api.0.ReportingArea}} <br>
        AQI - {{api.0.AQI}} <br>
         <br>
    {% endif %}
{% endif %}
<hr>
(0 -50) Air quality is considered satisfactory, and air pollution poses little or no risk <br> <br>
(51-100) Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.<br> <br>
(101 - 150) Although general public is not likely to be affected at this AQI range, people with lung disease, older adults and children are at a greater risk from exposure to ozone, whereas persons with heart and lung disease, older adults and children are at greater risk from the presence of particles in the air.<br> <br>
(151 - 200) Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects.<br> <br>
(201 - 300) Health alert: everyone may experience more serious health effects.<br> <br>
(301 - 500) Health warnings of emergency conditions. The entire population is more likely to be affected.<br> <br>

</div>

{% endblock %}